.first-section {
  padding: 25px 0;
  max-width: 1088px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left {
  max-width: 500px;
  text-align: left;
  z-index: 1;
}
.title {
  font-size: 59px;
  font-family: "Playfair Display", serif;
  padding: 15px 0;
  font-weight: 900;
}
.sub-title {
  font-weight: 500;
  font-size: 19px;
  font-family: "Raleway", sans-serif;
  line-height: 29px;
}
.button-section {
  padding-top: 30px;
}
.green-button {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 19px;
  padding: 15px 40px;
  background-color: #7bc043;
  color: white;
  border: 2px solid #7bc043;
  margin-right: 60px;
}
.white-button {
  font-size: 19px;
  font-weight: 900;
  font-family: "Raleway", sans-serif;
  padding: 15px 40px;
  background-color: white;
  color: #7bc043;
  border: 2px solid #7bc043;
  text-decoration: none;
}
.first-section img {
  max-width: 680px;
  margin-left: -81px;
}
