.fourth-section {
  max-width: 1089px;
  padding: 150px 0 50px;
  margin: auto;
}
.image-section {
  width: 30%;
  display: flex;
  align-items: center;
}
.image-section img {
  margin-right: 50px;
  padding-bottom: 50px;
}
.join-list {
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 30px 0px 25px;
}
.join-list input {
  width: 50%;
  padding: 10px 15px;
  border: 3px solid #cfcfcf;
  border-radius: 3px;
}
.join-button {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  padding: 10px 30px;
  background-color: #7bc043;
  color: white;
  border: 3px solid #7bc043;
  margin-left: 20px;
}
.green-text {
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  color: #7bc043;
  text-align: left;
  padding: 0 350px;
}
