.third-section {
  max-width: 1089px;
  padding: 125px 125px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 75px;
}
.third-section img {
  max-width: 320px;
  max-height: 449px;
}
.img-placement {
  margin-top: 65px;
}
.heading {
  max-width: 365px;
  text-align: left;
  margin-top: 125px;
  font-weight: 900;
  font-size: 26px;
  font-family: "Playfair Display", sans-serif;
  line-height: 33px;
  padding-bottom: 13px;
}
.para {
  font-weight: 500;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  line-height: 20px;
  text-align: left;
}
